*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #c69963;
  line-height: 1.6; }
